@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@liveblocks/react-ui/style.css"; */


@layer utilities {
    .title {
        color: #262626;
        font-family: 'Gabarito', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    .title-large {
        font-size: 32px;
    }

    .title-medium {
        font-size: 24px;
    }

    .title-small {
        font-size: 20px;
    }

    .title-tiny {
        font-family: 'Inter',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    .text-summary {
        color: #262626;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
    }
    .text-item {
        color: #262626;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
    }
    .text-brand {
        color: var(--Brand-50, #2563EB);
        /* Body/Default/Medium */
        font-family: 'Inter',sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 18.2px */
    }
    .dropzone-title {
        color: var(--Brand-50, #2563EB);
        text-align: center;
        /* Heading/3 */
        font-family: 'Gabarito',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
    .dropzone-summary {
        color: var(--Brand-40, #739BF2);
        text-align: center;
        /* Body/Small/Regular */
        font-family: 'Inter',sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 15.6px */
    }
    canvas {
        box-shadow: none !important;
    }
    /* Custom Font Utility Classes */
    .font-playwrite {
        font-family: "Playwrite Island", cursive;
    }

    .font-kalam {
        font-family: "Kalam", sans-serif;
    }

    .font-rocksalt {
        font-family: "Rock Salt", cursive;
    }

    .font-mrdafoe {
        font-family: "Mr Dafoe", cursive;
    }

    .font-labelleaurore {
        font-family: "La Belle Aurore", cursive;
    }
}

@font-face {
    font-family: "Playwrite Island";
    src: url("/fonts/PlaywriteIS-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: "italic";
}

@font-face {
    font-family: "Kalam";
    src: url("/fonts/Kalam-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rock Salt";
    src: url("/fonts/RockSalt.ttf") format("truetype");
}

@font-face {
    font-family: "Mr Dafoe";
    src: url("/fonts/MrDafoe-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "La Belle Aurore";
    src: url("/fonts/La Belle Aurore.ttf") format("truetype");
}
  